.u-ml-auto {
    margin-left: auto !important;
}

.u-text-center {
    text-align: center !important;
}

.u-space-between {
    display: flex !important;
    justify-content: space-between !important;
}

.u-display-flex {
    display: flex !important;
}

.u-align-items-center {
    display: flex;
    align-items: center !important;
}

.u-direction-column {
    display: flex;
    flex-direction: column;
}

.u-card-top {
    margin-top: 0 !important;
}

.u-border-bottom {
    border-bottom: none !important;
}

.u-margin-none {
    margin: 0 !important;
}

.u-opacity-50 {
    opacity: 0.5;
}