$color-orange: #d87d4a;
$color-white: #ffffff;
$color-black: #0c0c0c;
$color-black-10: #101010;
$color-black-2: #828282;
$color-gray-f1: #f1f1f1;
$color-gray-f2: #f2f2f2;
$color-gray-fa: #fafafa;
$color-orange-light: #fbaf85;
