.checkout {
    background-color: $color-white;
    border-radius: 8px;
    padding: 5.4rem 4.8rem 4.8rem 4.8rem;
    width: 73rem;
    #fname {
        cursor: pointer;
        &:focus,
        &:hover {
            border-color: $color-orange;
        }
    }
    #email {
        // border-color: $color-orange;
    }
    .delivery-input__img {
        margin-right: 3.2rem;
    }
}

.summary {
    align-self: flex-start;
    display: inline;
    width: 35rem;
    padding: 3.2rem 3.3rem 2.7rem;
    background-color: $color-white;
    border-radius: 8px;
    .cart-products {
        margin-top: 3.2rem;
        .cart-product {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;
            .product-info {
                display: flex;
                align-items: center;
                &__img {
                    border-radius: 8px;
                    width: 6.4rem;
                    height: 6.4rem;
                    background-color: $color-gray-f1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1.6rem;
                }
                &__title {
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    color: $color-black;
                }
            }
        }
    }
    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    .grand-total {
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
        &~span {
            color: $color-orange;
        }
    }
}