.footer {
    position: relative;
    background-color: $color-black-10;
    padding: 7.5rem 0 9.8rem;
    border-bottom: 1px solid $color-white;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        display: flex;
        &__item {
            list-style: none;
        }
        &__link {
            text-decoration: none;
        }
    }
    &__bottom {
        margin-top: 3.6rem;
        display: flex;
        justify-content: space-between;
        .footer-content__text {
            width: 54rem;
            margin-top: 0;
        }
    }
    .social-items {
        display: flex;
        .social-item:not(:first-child) {
            margin-left: 1.6rem;
        }
    }
    @include respond(tablet-land) {
        width: 100%;
    }
    @include respond(tablet) {
        &__top {
            .footer-list {
                &__item:not(:first-child) {
                    margin-left: 2rem;
                }
            }
        }
        &__bottom {
            .footer-content__text {
                width: 40rem;
                margin-top: 0;
            }
        }
    }
    @include respond(phone) {
        &__top {
            flex-direction: column;
            .logo {
                width: 100%;
                margin-bottom: 4rem;
                text-align: center;
            }
        }
        &__bottom {
            flex-direction: column-reverse;
            text-align: center;
            .footer-content__text {
                width: 100%;
                margin-top: 4rem;
            }
            .social {
                margin: 0 auto;
            }
        }
    }
    @include respond(small-phone) {
        &__top {
            .footer-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .footer-list__item {
                    margin-left: 0;
                }
            }
        }
    }
}