.form {
    margin-top: 4rem;
    .label {
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: -0.214286px;
        color: $color-black;
        margin-bottom: 9px;
    }
    .input {
        width: 30.9rem;
        padding: 1.8rem 0 1.8rem 2.4rem;
        background: $color-white;
        border: 1px solid #cfcfcf;
        box-sizing: border-box;
        border-radius: 8px;
        outline: none;
        &.input-100 {
            width: 63.4rem;
        }
    }
    .input-radio[checked] .label-radio:active {
        border: 1px solid $color-orange;
    }
    .input-radio {
        display: none;
        .label-radio .input-radio:checked {
            border-color: $color-orange;
        }
    }
    .label-radio {
        display: block;
        width: 30.9rem;
        padding: 1.8rem 0 1.8rem 5.2rem;
        background: $color-white;
        border: 1px solid #cfcfcf;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
        &:hover {
            border: 1px solid $color-orange;
        }
        &.selected {
            border: 1px solid $color-orange;
        }
        .input-radio:checked~.checkmark::after {
            display: block;
        }
        .checkmark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1.6rem;
            display: block;
            width: 2rem;
            height: 2rem;
            border: 1px solid #cfcfcf;
            border-radius: 50%;
            &:after {
                @include baElements(10px, 10px);
                position: absolute;
                top: 4px;
                left: 4px;
                background-color: $color-orange;
                color: $color-orange;
                border-radius: 50%;
                display: none;
            }
        }
    }
}