.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 9.6rem;
    padding: 3.6rem 0;
    z-index: 1;
    width: 100vw;
    background-color: $color-black;
    @include respond(tablet-land) {
        max-width: 100%;
        height: 9.6rem;
    }
    @include respond(tablet) {
        height: 9rem;
    }
    .header-nav {
        text-align: center;
        margin-right: 12rem;
    }
    &-list {
        display: flex;
        &__item {
            list-style: none;
        }
        &__link {
            text-decoration: none;
        }
    }
    .header-main {
        // padding: 0 1.5rem;
        position: relative;
        max-width: 111.4rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(tablet-land) {
            max-width: 79rem;
        }
        @include respond(tablet) {
            max-width: 60rem;
        }
        @include respond(phone) {
            max-width: 40rem;
        }
        @include respond(small-phone) {
            max-width: 32rem;
        }
    }
}
