.btn {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 1.5rem 3rem;
    border: 3px solid transparent;
    outline: none;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background-color: $color-orange;
    transition: all 0.2s ease-in;
    &.btn-black {
        background-color: $color-black;
        &:hover {
            background-color: #4c4c4c;
        }
    }
    &.btn-transparent {
        border: 1px solid $color-black;
        background-color: transparent;
        color: $color-black;
        transition: all 0.2s ease-in;
        &:hover {
            color: $color-white;
            background-color: $color-black;
        }
    }
    &:hover {
        background-color: $color-orange-light;
    }
}

.btn-btn {
    width: 2.3rem;
    height: 2rem;
    border: none;
    background: none;
    background-image: url(../../images/cart.png);
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn-quantity {
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-black;
    mix-blend-mode: normal;
    opacity: 0.25;
    cursor: pointer;
    &:hover {
        color: $color-orange;
        opacity: 1;
    }
}

.btn-checkout {
    width: 100%;
}