.shop-cart {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
    @include respond(tablet-land) {
        flex-wrap: wrap;
    }
    @include respond(tablet) {
        justify-content: center;
        .cart {
            margin-left: auto;
            margin-right: auto;
            &:not(:first-child) {
                margin-top: 10rem;
            }
        }
    }
    .cart {
        display: block;
        @include respond(tablet-land) {
            &:last-child {
                margin-top: 10rem;
            }
        }
        &-link {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            text-align: center;
            background-color: $color-gray-f1;
            position: relative;
            width: 35rem;
            padding: 11.6rem 0 3rem 0;
            transition: all 0.2s ease-in;
            &__img {
                position: absolute;
                transform: translateX(50%);
                right: 50%;
                bottom: 13rem;
            }
            &__title {
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 2.5rem;
                text-align: center;
                letter-spacing: 1.28571px;
                text-transform: uppercase;
                color: $color-black;
            }
            &__text {
                margin-top: 1.5rem;
                font-weight: bold;
                font-size: 1.3rem;
                line-height: 1.8rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $color-black;
                mix-blend-mode: normal;
                opacity: 0.5;
                &::after {
                    @include baElements(5px, 10px) {
                        background-image: url(../../images/shop/arrow.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        margin-left: 1.3rem;
                    }
                }
            }
            &:hover .cart-link__text {
                color: $color-orange;
                opacity: 1;
            }
        }
    }
    @include respond(small-phone) {
        .cart {
            &-link {
                width: 32rem;
            }
        }
    }
}
