.go-back {
    display: flex;
    // margin-top: 7.3rem;
    margin-bottom: 5.6rem;
    &__link {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $color-black;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}