.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
    padding: 1.5rem;
    background-color: $color-gray-f1;
    margin-right: 1.6rem;
    &__input {
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.8rem;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-black;
        width: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
    }
    &.quantity-product {
        padding: 7px 11px;
        margin-right: 0;
        max-width: 9rem;
    }
    @include respond(phone) {
        &.quantity-product {
            width: 6rem;
        }
    }
}
