/* manrope-regular - latin */

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/manrope-v4-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/manrope-v4-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* manrope-500 - latin */

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/manrope-v4-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/manrope-v4-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* manrope-700 - latin */

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/manrope-v4-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/manrope-v4-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-size: 62.5%;
}

.span-text {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: $color-white;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 2.4rem;
    display: block;
    &.orange-text {
        color: $color-orange;
        opacity: 1;
    }
}

.talent-heading {
    font-weight: bold;
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-white;
    width: 40rem;
    margin: 0;
}

.secondary-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $color-white;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 35rem;
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    &.black-text {
        color: $color-black;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    &.detail {
        margin-bottom: 0;
    }
    &.orange-text {
        color: $color-orange;
        opacity: 1;
    }
    &.delivery-text {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        // &::before {
        //     @include baElements(48px,
        //     48px);
        //     background-image: url(../../images/delivery_text__img.png);
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     margin-right: 4.8rem;
        //     opacity: 1;
        // }
    }
}

.content__heading {
    width: 26rem;
    font-weight: bold;
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-white;
    margin: 0;
}

.secondary-heading {
    display: block;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 3.2rem;
}

.primary-heading {
    display: inline-block;
    width: 45rem;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: $color-black;
    .primary-text {
        color: $color-orange;
    }
    &.white {
        color: $color-white;
    }
}

.footer-content__span {
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: $color-white;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 5.6rem;
}

.price {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 3.2rem;
    margin-bottom: 4.7rem;
    display: block;
}

.features-heading {
    // display: inline-block;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 3.2rem;
}

.detail-text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $color-orange;
    margin-right: 2.4rem;
}

.product-text {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 4rem;
    margin-bottom: 3.2rem;
}

.cart-modal__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: $color-black;
}

.cart-modal__remove {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-decoration-line: underline;
    color: $color-black;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.product-total {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: $color-black;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.checkout-title {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 0.928571px;
    text-transform: uppercase;
    color: $color-orange;
}