.talent {
    background-image: url(../../images/headphone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #141414;
    .talent-info {
        // background-image: url(../../images/headphone.png);
        // border-top: 1px solid $color-white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 10rem;
        padding-top: calc(12.8rem + 9.6rem);
        padding-bottom: 15.8rem;
    }
    .header {
        background-color: #0e0e0e;
    }
}

.zx9 {
    width: 100%;
    min-height: 56rem;
    background-color: $color-orange;
    background-image: url(../../images/main/circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 94.4rem;
    margin-top: 16.8rem;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 13.3rem;
    &__img {
        position: relative;
        bottom: -3rem;
        left: 12rem;
    }
    .content {
        margin-right: 9.5rem;
        display: block;
        padding-top: 5.3rem;
        // padding-left: 35rem;
    }
}

.zx7 {
    margin-top: 4.8rem;
    border-radius: 8px;
    width: 100%;
    min-height: 32rem;
    background-color: $color-gray-f1;
    background-image: url(../../images/main/zx7.png);
    background-position: center bottom -2rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10.1rem 0 10.1rem 9.6rem;
}

.yx1 {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    .yx1-left {
        display: inline-block;
        min-width: 54rem;
        border-radius: 8px;
        background-color: $color-gray-f1;
        padding: 10.1rem 0 10.1rem 9.6rem;
    }
}

.person {
    width: 100%;
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .person-text {
        min-width: 45rem;
    }
}